.handshake{
    width: 100%;
    height: 20em;
}
.container-fluid{
    background-color: #7c9465;
    
}
.navbar{
    background-color: #7c9465;

}
footer{
    display: flex;
    

    .nav{
        height: 7em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #7c9465;
    }
}
// page Accueil
.jumbotron{
    background-color: #eedada;
    a{
        text-decoration: none;
        font-size: 18px;
        color: #7c9465;
    }
}

// page Déchets
.container-fluid2{
    background-color: #eedada;
}
.card{
    background-color:#7c9465 ;
    height: 100;
    
}
.form-group{
    input{
        background-color: #bcc9b1;
    
    }
    textarea{
        background-color: #bcc9b1;
    }
    #check{
        
            background-color: #bcc9b1;
        
    }
}
iframe{
    height: 300px;
    
}
#carousel{
    height: 200px;
}
// Form 



// responsive MediaQueries
@media only screen and (max-width: 834px){
    .handshake{
        height: 10em;
    }
}